.content {
  margin-top: 20px;
}

.text-right {
  text-align: right;
}

.list_item {
  border-bottom: 2px solid #cccccc;
}
a {
  color: #3f51b5;
  text-decoration: none;
}
a:hover {
  color: #3f51b5;
  text-decoration: underline;
}